body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    height: 50px;
    background-color: #1b1b1b;
    color: #fff;
}
.hub {
    padding: 0 5px;
    margin-left: 5px;
    color: #1b1b1b;
    background-color: #ffa31a;
    border-radius: 2px;
}
.footer {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 700;
    height: 40px;
    text-align: center;
    background-color: #1b1b1b;
    color: #fff;
}
.studentid {
    color: #ffa31a;
}
.main {
    min-height: calc(100vh - 90px);
    height: fit-content;
}
.body1 {
    background-color: #fff;
    padding-top: 4.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 40px;
}
.pref-sel {
    font-size: 30px;
    font-weight: 500;
    min-width: 660px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.selectBox {
    display: flex;
    flex-direction: column;
    width: 200px;
}
#select {
    padding: 5px;
    border-radius: 15px;
    width: 200px;
    background-color: #1b1b1b;
    color: #fff;
    border: none;
}
#select:focus {
    border: none;
    outline: none;
    border-style: none;
}
.theme {
    margin-left: 10px;
}
.findmov {
    margin-top: 3%;
    background-color: #1b1b1b;
    color: #fff;
    padding: 12px 50px;
    border: none;
    outline: none;
    border-radius: 1rem;
    font-weight: 600;
}
.findmov:hover {
    background-color: #ffa31a;
    color: #1b1b1b;
    cursor: pointer;
}
.findmovbtn {
    text-decoration: none;
    color: #fff;
}
.findmovbtn {
    color: inherit;
}
.searchbody {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result {
    overflow: auto;
    padding: 0 5%;
    width: 70%;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    min-height: calc(100vh - 90px);
    height: 100%;
    background-color: #ffa31a;
    color: #fff;
}
.searcharea {
    border: none;
    padding: 5px 7px;
    width: 223px;
    border-radius: 15px;
    background-color: #1b1b1b;
    color: #fff;
}
.searcharea:focus {
    outline: none;
}
::placeholder {
    color: #fff;
}
.search-name-btn,
.submit {
    background-color: #ffa31a;
    border: 2px solid #1b1b1b;
    border-radius: 15px;
    color: #1b1b1b;
}
.submit {
    margin-left: 60px;
    margin-top: 20px;
    padding: 4px 40px;
}
.search-name-btn:hover,
.submit:hover {
    background-color: #1b1b1b;
    color: #fff;
    cursor: pointer;
}
.search-name-btn,
.submit:focus {
    outline: none;
}
.cardbox {
    width: 100%;
    padding: 0;
    border: 2px solid #1b1b1b;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 7px 0;
    box-shadow: 4px 5px 10px -1px rgba(0, 0, 0, 0.43);
}

.card--main {
    min-height: 100px;
    display: grid;
    padding-left: 10px;
    grid-template-columns: 3fr 1fr;
}

.card--footer {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    border-top: 1px solid black;
    background-color: #ffa31a;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    /* overflow: hidden; */
}

.label {
    color: black;
    font-size: 1em;
    font-weight: bolder;
}
.card--text {
    padding: 2px;
    margin: 1px;
    display: inline;
}
.card--text-name {
    font-size: 24px;
}
.card--text-genre {
    grid-column: 1 / -1;
    word-spacing: 10px;
    color: rgb(141, 137, 137);
}
.card--text-mpaa,
.card--text-rating {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.card--text-rating {
    padding: 10px;
}

/** Animation */
.loader {
    margin-top: 50px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ffa31a;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
