body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    height: 50px;
    background-color: #1b1b1b;
    color: #fff;
}
.hub {
    padding: 0 5px;
    margin-left: 5px;
    color: #000;
    background-color: #ffa31a;
    border-radius: 2px;
}
.footer {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 700;
    height: 30px;
    text-align: center;
    background-color: #1b1b1b;
    color: #fff;
}
.main {
    height: calc(100vh - 80px);
}
.body1 {
    padding-top: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 40px;
}
.pref-sel {
    padding-top: 1%;
    font-size: 30px;
    font-weight: 500;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.selectBox {
    display: flex;
    flex-direction: column;
}
.theme {
    margin-left: 10px;
}
.findmov {
    margin-top: 3%;
    background-color: #000;
    color: #fff;
    padding: 0.7% 2%;
    border: none;
    outline: none;
    border-radius: 1rem;
    font-weight: 600;
}
.findmov:hover {
    background-color: #ffa31a;
    cursor: pointer;
    color: #000;
}
